
.Product_Page{
    display: flex ;
}
.Products{
    width: 100% ;
    display: grid ;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr)) ;
    background: fixed ;
    justify-items: center ;
    margin: 20px 0 ;
}

/* .right_search{
    display: flex;
    flex-direction: row-reverse
} */
/* ============= Side Bar ============= */

@import url("./SideBar/SideBar.css");
/* ============= Product Item ============= */

@import url("../utils/productitem/ProductItem.css") ;


