.Page{
    margin-top: 10vh;
}

.Dasboard_Body{
    display: flex;
    justify-content: space-around;
    padding-left: 15vh;

}
.SideBar{
    /* display: flex;
    flex-direction: column; */
    position: fixed;
    left: 0;
    max-height: 350px;

    padding: 20px 30px;
    border: 1px solid black;
}